@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Mouse+Memoirs&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    
}
.home-img{
    height: 100%;
    width: 100%;
    background: url(./assest/background-tablet.svg) no-repeat;
    background-size: cover;
    background-position: 100% 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    box-shadow: -0.5px -0.5px 1px 4px #2463FF ;
    padding: 4rem 6rem;
    border-radius: 3rem;
    background-color: #3155bf55;
}
.play-button{
    width: 60px;
    height: 60px;
    background-color: #e87ebf;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0  4px 8px rgba(0,0,0,0.3);
    cursor: pointer;
}
.play-button:hover{
    transform: scale(1.2);

}
.play-icon{
    color: white;
    font-size: 24px;
}
.how-to-play{
    padding: 10px 20px;
    background-color: #2463FF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-transform: uppercase;

}
.how-to-play:hover{
    transform: scale(1.2);
}
.category-container{
    padding:4rem 0;
    height: 100%;
    background: linear-gradient(#140337,#110741 );
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 500;
font-size: .9rem;
gap:3rem;

}
div.category-container h2{
    font-size: 4rem;
    color: white;
}
div.categories{
    text-align: center;
    display: grid;
    row-gap: 1rem;
    column-gap: 0.5rem;
    grid-template-columns: repeat(3,200px);
    color: white;
}
div.category{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #2463FF;
    text-transform: uppercase;

}
div.category:hover{
    cursor: pointer;
    transform: translateY(-5px);
}
